---
const title = "My learning blog";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
<body>

<a href="/">Home</a>
<a href="/blog">Blog</a>
<a href="/about/">About</a>

<h1>{title}</h1>
<p>Welcome to my programming blog! Here, I share my thoughts and experiences on various programming topics.</p>
<p>Stay tuned for more posts as I continue to explore the world of programming and share my insights with you!</p>
<p>Feel free to check out my <a href="/about/">about page</a> to learn more about me and my journey in programming.</p>

<ul>
    <li><a href="/posts/post-1/">Post 1</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
    <li><a href="/posts/post-3/">Post 3</a></li>
</ul>
</body>
</html>